<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fragmento Navbar</title>
</head>
<body>
<!-- Fragmento de navegación -->
<div th:fragment="navbar">
    <nav>
        <div>
            <ul>
                <li><a href="/clinicas">Clínicas</a></li>
                <li><a href="/doctores">Doctores</a></li>
            </ul>
        </div>
    </nav>
</div>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>

</body>
</html>
